@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body{
    color: #333;
    line-height: 1.6;
    font-family: 'lato',sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #333;
}
h1,h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}
img{
    width: 100%;
}